.pending-notes-view-container h1 {
	margin: 0;
}

.pending-notes-view-container ul {
	list-style: none;
	margin: 0;
	padding: 8px 0 32px;
}

.pending-notes-view-container ul li {
	align-items: center;
	display: flex;
	gap: 8px;
	margin: 0;
	padding: 4px;
}


.pending-notes-view-container button,
.pending-notes-view-container ul li strong {
	display: block;
}

.pending-notes-view-container ul li a {
	text-decoration: none;
}

.pending-notes-view-container button {
	padding: 0 8px;
}

.pending-notes-view-container .title {
	align-items: center;
	display: flex;
	gap: 8px;
	margin-bottom: 4px;
}


.pending-notes-view-container .item {
	align-items: center;
	display: flex;
	gap: 4px;
}



