.pending-notes-view-container span {
	display: block;
	margin: -16px 0 0;
	padding-bottom: 16px;
}

.pending-notes-view-container ul {
	margin: 0 8px;
	padding: 0 16px;
}

.pending-notes-view-container ul li {
	margin: 0;
	padding: 4px 8px;
}
